@use "../styles/variables" as *;
@use "../styles/mixins" as *;

.login {
 display: flex;
 padding: 0 1rem;
 @include mobile {
  flex-direction: column;
  gap: 2rem;
 }
 @include tablet {
  flex-direction: column;
  gap: 2rem;
 }
 @include Qhd{
  padding: 1em 29em;
 }
 @include Uhd {
  padding: 1em 60em;
 }
 @include desktop-ultrawide {
  padding: 1em 50em;
 }

 .login__logo {
  width: 50%;
  height: 90vh;
  background: #000;
  border-radius: 20px;
  @include mobile {
   width: 100%;
   height: 50vh;
  }
  @include tablet {
   width: 100%;
   height: 40vh;
  }
 }

 .login__forms {
  width: 50%;
  height: 90vh;
  padding: 0 10em;
  display: grid;
  place-content: center;
  @include mobile {
   width: 100%;
   height: 50vh;
   padding: 0 1rem;
  }
  @include tablet {
   width: 100%;
   height: 40vh;
   padding: 0 3rem;
  }
 }
}
